h1{
	color:blue;
}
img{

}
.testas{
	background-image: url('boom.jpg');
	height: 500px;
	width: 500px;
	background-size: cover;
}
div{
	width: 100%;
}
div> p:nth-of-type(1){
	width: 40%;
	display: inline-block;
}
div> p:nth-of-type(2){
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.tomui{
	position:relative;
}
img[src="sunus.jpg"]{
	position: absolute;
	z-index: 4;
	top:0;
	left:20px;
	opacity: 0.5;
}
img[src="sypsena.jpg"]{
	position: absolute;
	top:0;
	left:20px;
	z-index:3;
	opacity: 0.5;
}

h2{
	margin-top: 400px;
	width: 100%;
}

h2> div:nth-of-type(1){
	background-color: blue;
	width: 15%;
	/*text-align: right;*/
	font-size: 20px;
	display: inline-block;
	/*float: left;*/
}
h2> div:nth-of-type(2){
	background-color: red;
	width: 15%;
	display: inline-block;
	font-size: 20px;
}
h2> div:nth-of-type(3){
	background-color: green;
	width: 15%;
	float: left;
	font-size: 20px;
}
h2> div:nth-of-type(4){
	background-color: yellow;
	width: 15%;
	float: left;
	font-size: 20px;
}
h2> div:nth-of-type(5){
	background-color: magenta;
	width: 15%;
	float: right;
	font-size: 20px;
}