/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// mano kodas prasideda

:root{
	font-size: 10px;
}
h1.pvz{
	color:red;
	font-size: 3.6rem;
}
.abrakadabra{
	color:blue;
}
h1{
	font-size:1.2rem;
}
#naujas{
	color:red;
}
div {
	color:yellow;
	font-size: 2.4rem;
}
.a123{
	background-color: black;
	color:white;
}
.kitas-div{
	background-color:white;
	color:black;
	width: 50%;
	margin:0 auto;
	font-size: 2rem;
}
img[src="kazkoks.jpg"]{
	height: 100px;
	width: 100px;
}
footer{
	margin-top: 10px;
	height: 25vh;
	background-color: green;
	color:white;
}
footer > p {
	background-color: black;
}
ul> li:nth-of-type(2){
	font-size: 30px;
	color:orange;
}
#super{
	font-size: 16px;
	color:black;
	padding: 30px;
	width: 100%;
	margin-top:50px;
	border: 1px solid black;
	box-sizing: border-box;
}
.relative{
	width: 500px;
	height: 300px;
	position: relative;
}
img[src="img/kodel.jpeg"]{
	width: 100%;
	height: 100%;
}
.relative>h1{
	// text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50% );
}




