@import 'reset';

// mano kodas
$body-plotis: 300px/960px *100%;
$headerio-spalva: blue;
$allegrya: 'Alegreya', serif;
$playfair: 'Playfair Display', serif;

\:root{
	font-size:10px;
}
body{
	max-width:1600px;
	line-height: 1;
	.one{
		position:relative;
		height: 100vh;
		background-image: url('../img/background-tikri-kepalai.jpg');
		background-size:cover;
		header{
			display: block;
			// position:fixed;
			background-color:rgba(0,0,0, 0.35);
			width: 100%;
			font-size: 0px;
			nav{
				display: block;
				width: 78.75%;
				margin:0 auto;
				font-size: 0px;

				div:nth-of-type(1){
					display: inline-block;
					width: 25%;
					img[src="img/Gustoso.png"]{
						padding: 13px 0;
						display: inline-block;
						vertical-align: middle;
					}
				}
				
				ul:nth-of-type(1){
					width: 50%;
					color:#ffffff;
					font-size: 1.4rem;
					text-transform: uppercase;
					text-decoration: none;
					display: inline-block;
					vertical-align: middle;
					box-sizing:border-box;
					li{
						display: inline-block;
						a{
							display: inline-block;
							font-family: $allegrya;
							font-weight: 400;
							text-decoration: none;
							color:#fff;
							line-height: 1;
						}
					}
				}
				ul:nth-of-type(2){
					display: inline-block;
					width: 25%;
					vertical-align: middle;
					text-align: right;
				}
			}
		}
		h1{
			font-family: $playfair;
			font-size: 92px;
			position:absolute;
			top:32.5%;
			left:50%;
			transform:translate(-50%,-50%);
			color:white;
		}
		img[src="img/dashed-line.png"]{
			position:absolute;
			left:50%;
			top:47%;
			transform:translate(-50%,-50%);
		}
		p:nth-of-type(1){
			line-height: 1;
			font-size: 2.4rem;
			font-family: $allegrya;
			position:absolute;
			left:50%;
			top:57.5%;
			color:white;
			transform:translate(-50%,-50%);
		}
		p:nth-of-type(2){
			line-height: 1;
			top:62.5%;
			position:absolute;
			left:50%;
			color:white;
			font-size: 2.4rem;
			font-family: $allegrya;
			transform:translate(-50%,-50%);
		}
		button{
			line-height: 1;
			font-size: 14px;
			font-family: $allegrya;
			font-weight: bold;
			color:white;
			background-color:rgba(0,0,0, 0.35);
			top:70.9%;
			position:absolute;
			left:50%;
			transform:translate(-50%,-50%);
			border:1px dashed rgba(255,255,255, 0.4);
			text-transform: uppercase;
			// letter-spacing: 3px;
			width: 221px;
			padding:22px 50px;
		}
	}
	section.two{
		background-image:url('../img/background-2.jpg');
		background-size:cover;
		width: 100%;
		.kepalas{
			height: 10px;
			width: 100%;
			position:relative;
			background-color:white;
			img[src="img/kaliosikas.png"]{
			top:50%;
			position:absolute;
			z-index: 1;
			left:50%;
			transform:translate(-50%,-50%);
			}
		}
		.outter{
			max-width: 1260px;
			margin:0 auto 105px auto;
			display: block;
			overflow: hidden;
			.left{
				width: 50%;
				float: left;
				text-align: center;
				height: 0px;
				position: static;
				h1{
					padding-top: 100px;
					padding-bottom: 23px;
					font-family: $allegrya;
					font-size: 4.8rem;
					// 48px
					font-weight: bold;
					line-height: 1;
				}
				h2{
					font-family: $allegrya;
					font-size: 1.4rem;
					// 14px
					text-transform: uppercase;
					color:#a47d5e;
					margin-bottom:75px;
				}
				p{
					text-align: center;
					font-size: 1.4rem;
					font-family: $allegrya;
					color:#56534c;
					width: 82%;
					display: block;
					margin:0 auto 50px auto;
				}
				h3{
					text-align: center;
					font-size: 2.4rem;
					font-family: $allegrya;
					color:black;
					font-weight: bold;
					margin-bottom: 50px;
				}
				img[src="img/benito.png"]{
					margin-bottom: 25px;
				}
				img[src="img/benito-ismintis.png"]{
					margin-bottom: 105px;
				}
			}
			.right{
				width: 50%;
				float: right;
				position:relative;
				div:nth-of-type(1){
					margin-top: 112px;
					display: block;
					margin-bottom:25px;
					img{
						display: inline-block;
					}
					img[src="img/img-top-left.jpg"]{
						margin-right: 30px;
					}
				}
				div:nth-of-type(2){
					position:relative;
					img{
						display: inline-block;
					}
					img[src="img/img-bottom-left.jpg"]{
						margin-right: 30px;
					}					
				}
				img[src="img/taste-so-good.png"]{
				top:58%;
				position:absolute;
				z-index: 1;
				left:50%;
				transform:translate(-50%,-50%);
				opacity: 0.9;
				}
				
			}
			.clearfix{
				clear:both;
			}
		}
	}
	section.three{
			background-image:url('../img/background-3.jpg');
			background-size:cover;
			width: 100%;
			height: 500px
			.other{
				margin-top:15.5%;
				margin-left:16.5%;
				display: block;
				font-size: 0px;
				.lefty{
					background-image:url('../img/sueis.png');
					background-size:cover;
					width: 45%;
					font-size: 15px;
					height: 585px;
					display: inline-block;
				}
				.righty{
					display: inline-block;
					width: 55%;
				}
			}
		}
}
	@media (max-width:1405px){
		section{
			header{
				nav{
					width: 90%;

					ul:nth-of-type(1){
						li{
							font-size: 1.2rem;
						}
						li:nth-of-type(even){
							padding: 0 6px;
						}
					}
				}
			}
		}
		section.three{
			.other{
				margin-left: 14.4%;
			}
		}
	}
