/*
Theme Name: mokslas
Theme URI: http://underscores.me/
Author: Mokslininkas
Author URI: http://Neturiu
Description: Kai pavariau
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: kieti-bicai
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

mokslas is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

/* Musu kodas*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/
body{
	max-width: 1450px;
}
div#First {
	background-image: url('img/picture.png');
	max-width: 100%;
	max-height: 100%;
	display: block;
}

div#First > nav {
	font-family: 'Montserrat', sans-serif;
	margin: 0 360px;
	display: block;
	height: 70px;
	vertical-align: bottom;
}

nav#Navigation > ul:nth-of-type(1) 
{
	float: left;
	font-size: 30pt;
	text-transform: none;
	font-weight: 700;
	padding: 5px 0 0 0;
}
nav#Navigation > ul:nth-of-type(1) > li> a{
	text-transform: none;
	color:white;
	text-decoration: none;
}

nav#Navigation > ul:nth-of-type(2){
	text-decoration: none;
	color: white;
	font-size: 14pt;
	float: right;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
}
nav#Navigation > ul:nth-of-type(2) > li {
	display: inline-block;
}
nav#Navigation > ul:nth-of-type(3){
	
	float: right;
	
}
nav#Navigation > ul:nth-of-type(3)> li{
	display: inline-block;
}
nav#Navigation > ul:nth-of-type(3)> li > a{
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
	text-decoration: none;
	color: white;
	font-size: 14pt;
}
#second nav {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	display: block;
	height: 70px;
	vertical-align: bottom;
}

#second nav#Navigation > ul:nth-of-type(1) 
{
	float: left;
	font-size: 30pt;
	text-transform: none;
	font-weight: 700;
	padding: 5px 0 0 0;
}
#second nav#Navigation > ul:nth-of-type(1) > li> a{
	text-transform: none;
	color:black;
	text-decoration: none;
}

#second nav#Navigation > ul:nth-of-type(2){
	text-decoration: none;
	color: black;
	font-size: 14pt;
	float: right;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
}
#second nav#Navigation > ul:nth-of-type(2) > li {
	display: inline-block;
}
#second nav#Navigation > ul:nth-of-type(2) > li > a {
	background: black;
}
#second nav#Navigation > ul:nth-of-type(3){
	
	float: right;
	
}
#second nav#Navigation > ul:nth-of-type(3)> li{
	display: inline-block;
}
#second nav#Navigation > ul:nth-of-type(3)> li > a{
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
	text-decoration: none;
	color: black;
	font-size: 14pt;
}
/*Single posto linkai*/
.nav-links{
	width: 80%;
   margin: 0 auto;
   font-family: 'Kaushan Script', sans-serif;
   font-size: 20px;
}
.nav-links a{
	text-decoration: none;
}
.nav-links a:visited{
	color:#eab534;
}
/*footeris single posto*/
.site-footer{
	margin-top: 50px;
	text-align: center;
}
.site-footer a{
	color:#eab534;
}
article.Second {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

article.Second > nav {
	font-family: 'Montserrat', sans-serif;
	margin: 0 360px;
	display: block;
	height: 70px;
	vertical-align: bottom;
}

article.Second nav#Navigation > ul:nth-of-type(1) 
{
	float: left;
	font-size: 30pt;
	text-transform: none;
	font-weight: 700;
	padding: 5px 0 0 0;
}
article.Second nav#Navigation > ul:nth-of-type(1) > li> a{
	text-transform: none;
	color:black;
	text-decoration: none;
}

.Second nav#Navigation > ul:nth-of-type(2){
	text-decoration: none;
	color: black;
	font-size: 14pt;
	float: right;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
}
article.Second nav#Navigation > ul:nth-of-type(2) > li {
	display: inline-block;
	background-color: black;}
article.Second nav#Navigation > ul:nth-of-type(3){
	float: right;

}
article.Second nav#Navigation > ul:nth-of-type(3)> li{
	display: inline-block;
}
article.Second nav#Navigation > ul:nth-of-type(3)> li > a{
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
	text-decoration: none;
	color: black;
	font-size: 14pt;
}

div#Banner {
	display: block;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0 360px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 150pt;
	font-weight: 700;
}
div#Banner p{
	font-size: 36px;
}
div#Banner > p:nth-of-type(1) {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 42px;
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: 400;
}


.ClearFix {
	clear: both;
}

div#Banner > img {
	margin: 50px auto;
	text-align: center;
	display: block;
}

div#Banner > button {
	border: 3px solid white;
	background-color: Transparent;
	color: white;
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
	width: 200px;
	height: 40px;
	margin-bottom: 0;
	vertical-align: top;
}

div#End {
	vertical-align: top;
	margin: 0 auto;
	text-align: center;
	height: 80px;
}

div#End > img {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	text-align: center;
}

div#End > div {
	display: inline-block;
	margin: 0 auto;
}

.EndPart > p {
	color: white;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	padding: 15px 0 0 0;
}

body {
	background: url('Background.png');
	height: 100%;
}

header#FirstPart
{
	margin: 90px auto;
	text-align: center;
}

header#FirstPart > p:nth-of-type(1)
{

	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin: 0 auto;
}
#FirstPart a{
	text-decoration: none;
}
header#FirstPart > p:nth-of-type(2)
{

	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

header#FirstPart > img:nth-of-type(1) {
	margin-bottom: 40px;
}

header#FirstPart > div> p
{
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	font-weight: 100;
	margin: 0 auto;
	padding-bottom: 100px;
	color: #8c8e8c;
}

header#FirstPart > img
{
	padding-right: 10px;
}

div#GeyLine {
	background: url('Rectangle 7.png');
	padding: 0 360px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	margin: 110px 0;
}

div#GeyLine > div {
	color: white;
	font-size: 72pt;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-align: center;
	border-left: 1px solid white;
	padding: 90px 30px;
}

div#GeyLine > div:nth-of-type(1)
{
	border: none;
}

.GeyDiv > p {
	font-size: 14pt;
}

div#SecondPart {
	margin: 0 360px;
	text-align: center;
}

div#SecondPart > p:nth-of-type(1) {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin: 0 auto;
}

div#SecondPart > p:nth-of-type(2) {
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

/*Photo smth*/

div#PhotoSmth {
	width: 1200px;
	height: 300px;
}

.InsideDiv {
	display: inline-block;
	float: left;
	width: 360px;
	height: 100px;
	position: relative;
	padding: 10px 20px;
	font-family:'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight: 100;
	color:#8c8e8c;
}

.InsideDiv > h1 {
	position: absolute;
	top: 10px;
	left: 70px;
	font-weight: 700;
}

.InsideDiv > p {
	position: absolute;
	bottom: 10px;
	left: 70px;
	top: 40px;
	text-align: left;
}

.fivee {
	padding: 0 360px;
	text-align: center;
	padding-top: 100px;
	color: #333333;

}

.fivee > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

.fivee > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

.fivee > img {
	display: block;
	margin: 0 auto;
}

.five:nth-child(2) {
	background: white;
}

img[src="hipster.png"] {
	display: inline-block;
	margin: 0 auto 0 0;
	float: left;
}

.forma {
	display: inline-block;
	width: 570px;
	padding-bottom: 120px;
}

form > div {
	border: 1px solid #8c8e8c;
}

.formaa {
	height: 30px;
	padding: 15px 20px;
	vertical-align: middle;
}

.formaa > p {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1.2;
	margin: auto;
}

.formaa > img {
	display: inline-block;

}

.formaa > p {
	float: left;
	padding-top: 5px;
}

img[src="icon7.png"] {
	float: left;
	margin-right: 15px; 
}

img[src="icon8.png"] {
	float: right;
	padding-top: 8px;
}

.slideris {
	text-align: left;
	padding: 15px 20px;
	font-size: 15px;
  	font-family: "Roboto";
  	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.6;
  	border-top: none;
}

.slideris > p {
	display: inline-block;
	width: 520px;
}

.slideris > img {
	display: inline-block;
	float: right;
}

img[src="EQUALIZER.png"] {
	float: left;
	margin-right: 15px; 
}

img[src="ARROW _ DOWN.png"] {
	float: right;
	padding-top: 8px;
}

img[src="BULLSEYE.png"] {
	float: left;
	margin-right: 15px; 
}

div#Karma {
	background: url('Rectangle 10.png');
	background-repeat: no-repeat;
	padding: 20px 360px;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

div#Karma > img {
	display: inline-block;
	vertical-align: middle;
}

div#Karma > div{
	display: inline-block;
}

.Karmee {
	display: inline-block;
}

div#Karmaa {
	font-size: 24px;
	font-family: "Roboto";
	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.5;
  	text-align: left;
}

div#Karmaa > p:nth-of-type(2) {
	display: inline-block;
}

div#Karmaa > img {
	display: inline-block;
}

div#Karmaa {
	vertical-align: bottom;
	margin: 0 60px;
}

img[src="ARROW _ DOWN copy.png"]{
	margin: auto;
}


div#Karmaa > p:nth-of-type(2) {
	font-family: 'Kaushan Script', sans-serif;
    font-size: 24pt;
    color: #333333;
}

div#Team {
	padding-top: 100px;
	text-align: center;
}

div#Team > p:nth-of-type(3) {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 100px;
  color: #999999;
}

div#Team > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#Team > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

div#work {
	margin-top: 30px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 120px;
}

.work1 {
	display: inline-block;
	margin: 0 auto;
	width: 20%;
}

.work1 > p:nth-of-type(2) {
	font-size: 15px;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	margin-top: 15px;
}

div#labels {
	text-align: center;
	background: url('labelbg.png');
}

div#galery {
	padding-top: 100px;
	text-align: center;
	color: #333333;

}

div#galery > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#galery > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

div#galery > p:nth-of-type(3) {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 100px;
  color: #999999;
}


div#galeryPhotos {
	width: 1920px;
	height: 800px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 0;
}

div#galeryPhotos > div{
	font-size: 0;
	display: inline-block;
	width: 50%;
	height: 800px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div#galeryRight > img {
	display: inline-block;
	width: 480px;
	height: 400px;
	margin: 0;
	display: 0;
}

div#galeryLeft > div {
	display: inline-block;
	height: 800px;
}
div#ASD {
	max-width: 1950px;
	// width: 1903px;
	overflow: hidden;
}

/*Po pietu*/
.burundukas{
	 font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 30px 0px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.trys-karalaites{
	max-width: 210px;
	max-height: 210px;
	overflow: hidden;
}
.trys-karalaites img{
	border-radius: 100px;
}
article.poPietu {
	vertical-align: middle;
	text-align: center;
	height: 340px;
	padding-top: 20px;
}

article.poPietu > div {
	display: inline-block;
	vertical-align: middle;
}
.poPietu img{
	vertical-align: middle;
}

#poPietu1p p {
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.5;
}

#poPietu1p #poPietu2p {
  font-size: 24px;
  font-family: 'Kaushan Script';
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-transform: capitalize;
}

/*Po pietu*/

/*Po pietu2*/

div#poPietu2 {
	text-align: center;
	vertical-align: middle;
	background: url('poPietu2bg.png');
	background-repeat: no-repeat;
	padding-top: 110px;
}

div#poPietu2 > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#poPietu2 > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

.poPietuline{
	vertical-align: middle;
	width: 100%;
	padding-bottom: 70px;
	height: 200px;
}

.poPietuCell {
	display: inline-block;
	text-align: left;
	width: 25%;
}

.poPietuCell > div {
	display: inline-block;
	width: 50%;
}

.vienas {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}

.du {

font-size: 15px;
  font-family: 'Roboto';
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.6;
}

.trys {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  width: 375px;
}

/*Po pietu2*/

/*Po pietu3*/

div#poPietu3 {
	text-align: center;
	padding-top: 110px;
}

div#poPietu3 > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#poPietu3 > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

img[src="15 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="14 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="12 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="trys1.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

img[src="trys2.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

img[src="trys3.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

.poPietu3cell {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.poPietu3cell > p:nth-of-type(1) {
  	font-size: 14px;
 	font-family: 'Montserrat';
  	color: rgb(51, 51, 51);
  	text-transform: uppercase;
  	line-height: 1.2;
  	position: relative;
	left: 30px;
	margin-bottom: 24px;
}

.poPietu3cell > p:nth-of-type(2) {
  	font-size: 15px;
  	font-family: 'Roboto';
  	color: rgb(153, 153, 153);
  	line-height: 1.6;
  	position: relative;
	left: 30px;
	margin-bottom: 24px;
}

img[src="Shape 5.png"] {
	position: relative;
	left: 30px;
}

.poPietu3cell2 {
	width: 444px;
	display: inline-block;
  	font-size: 15px;
  	font-family: 'Roboto';
  	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.6;
  	text-align: left;
  	position: relative;
	left: 30px;
}

.poPietu3cell2 > p {
	display: inline-block;
	padding-bottom: 115px;
}

/*Po pietu3*/

.asd {
	height: 200px;
	width: 100%;
	background: url('layer 59.png');
	position: relative;
	vertical-align: middle;
	text-align: center;
}

img[src="asdasd.png"] {
	width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

img[src="w1.png"]
{
	display: block;
	padding-bottom: 25px;

}
img[src="w2.png"]
{
	display: block;
	padding-bottom: 25px;
}
img[src="w3.png"]
{
	display: block;
}

