/*font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Lobster', cursive;
font-family: 'Fira Sans', sans-serif;*/
.pirmaMesa{
	font-family: 'Sedgwick Ave Display', cursive, open-sans, sans;
	font-size: 16px;
}
.antraMesa{
	font-family: 'Lobster', cursive;
	font-size: 16px;
}