/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/
body{
	max-width: 1450px;
}
div#First {
	background-image: url('picture.png');
	max-width: 100%;
	max-height: 100%;
	display: block;
}

div#First > nav {
	font-family: 'Montserrat', sans-serif;
	margin: 0 360px;
	display: block;
	height: 70px;
	vertical-align: bottom;
}

nav#Navigation > a {
	text-decoration: none;
	color: white;
	font-size: 14pt;
	float: right;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin-right: 50px; 
	vertical-align: bottom;
}

nav#Navigation > a:nth-of-type(1)
{
	float: left;
	font-size: 30pt;
	text-transform: none;
	font-weight: 700;
	padding: 5px 0 0 0;
}

div#Banner {
	display: block;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0 360px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 150pt;
	font-weight: 700;
}

div#Banner > p:nth-of-type(1) {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 72pt;
	font-weight: 400;
}

.ClearFix {
	clear: both;
}

div#Banner > img {
	margin: 50px auto;
	text-align: center;
	display: block;
}

div#Banner > button {
	border: 3px solid white;
	background-color: Transparent;
	color: white;
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
	width: 160px;
	height: 40px;
	margin-bottom: 0;
	vertical-align: top;
}

div#End {
	vertical-align: top;
	margin: 0 360px;
	text-align: center;
	height: 80px;
}

div#End > img {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	text-align: center;
}

div#End > div {
	display: inline-block;
	margin: 0 auto;
}

.EndPart > p {
	color: white;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	padding: 15px 0 0 0;
}

body {
	background: url('Background.png');
	height: 100%;
}

div#FirstPart
{
	margin: 90px 360px;
	text-align: center;
}

div#FirstPart > p:nth-of-type(1)
{

	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin: 0 auto;
}

div#FirstPart > p:nth-of-type(2)
{

	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

div#FirstPart > img:nth-of-type(1) {
	margin-bottom: 40px;
}

div#FirstPart > p:nth-of-type(3)
{
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	font-weight: 100;
	margin: 0 auto;
	padding-bottom: 100px;
	color: #8c8e8c;
}

div#FirstPart > img
{
	padding-right: 10px;
}

div#GeyLine {
	background: url('Rectangle 7.png');
	padding: 0 360px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	margin: 110px 0;
}

div#GeyLine > div {
	color: white;
	font-size: 72pt;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-align: center;
	border-left: 1px solid white;
	padding: 90px 30px;
}

div#GeyLine > div:nth-of-type(1)
{
	border: none;
}

.GeyDiv > p {
	font-size: 14pt;
}

div#SecondPart {
	margin: 0 360px;
	text-align: center;
}

div#SecondPart > p:nth-of-type(1) {
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin: 0 auto;
}

div#SecondPart > p:nth-of-type(2) {
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

/*Photo smth*/

div#PhotoSmth {
	width: 1200px;
	height: 300px;
}

.InsideDiv {
	display: inline-block;
	float: left;
	width: 360px;
	height: 100px;
	position: relative;
	padding: 10px 20px;
	font-family:'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight: 100;
	color:#8c8e8c;
}

.InsideDiv > h1 {
	position: absolute;
	top: 10px;
	left: 70px;
	font-weight: 700;
}

.InsideDiv > p {
	position: absolute;
	bottom: 10px;
	left: 70px;
	top: 40px;
	text-align: left;
}

.fivee {
	padding: 0 360px;
	text-align: center;
	padding-top: 100px;
	color: #333333;

}

.fivee > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

.fivee > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

.fivee > img {
	display: block;
	margin: 0 auto;
}

.five:nth-child(2) {
	background: white;
}

img[src="hipster.png"] {
	display: inline-block;
	margin: 0 auto 0 0;
	float: left;
}

.forma {
	display: inline-block;
	width: 570px;
	padding-bottom: 120px;
}

form > div {
	border: 1px solid #8c8e8c;
}

.formaa {
	height: 30px;
	padding: 15px 20px;
	vertical-align: middle;
}

.formaa > p {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1.2;
	margin: auto;
}

.formaa > img {
	display: inline-block;

}

.formaa > p {
	float: left;
	padding-top: 5px;
}

img[src="icon7.png"] {
	float: left;
	margin-right: 15px; 
}

img[src="icon8.png"] {
	float: right;
	padding-top: 8px;
}

.slideris {
	text-align: left;
	padding: 15px 20px;
	font-size: 15px;
  	font-family: "Roboto";
  	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.6;
  	border-top: none;
}

.slideris > p {
	display: inline-block;
	width: 520px;
}

.slideris > img {
	display: inline-block;
	float: right;
}

img[src="EQUALIZER.png"] {
	float: left;
	margin-right: 15px; 
}

img[src="ARROW _ DOWN.png"] {
	float: right;
	padding-top: 8px;
}

img[src="BULLSEYE.png"] {
	float: left;
	margin-right: 15px; 
}

div#Karma {
	background: url('Rectangle 10.png');
	background-repeat: no-repeat;
	padding: 20px 360px;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

div#Karma > img {
	display: inline-block;
	vertical-align: middle;
}

div#Karma > div{
	display: inline-block;
}

.Karmee {
	display: inline-block;
}

div#Karmaa {
	font-size: 24px;
	font-family: "Roboto";
	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.5;
  	text-align: left;
}

div#Karmaa > p:nth-of-type(2) {
	display: inline-block;
}

div#Karmaa > img {
	display: inline-block;
}

div#Karmaa {
	vertical-align: bottom;
	margin: 0 60px;
}

img[src="ARROW _ DOWN copy.png"]{
	margin: auto;
}


div#Karmaa > p:nth-of-type(2) {
	font-family: 'Kaushan Script', sans-serif;
    font-size: 24pt;
    color: #333333;
}

div#Team {
	padding-top: 100px;
	text-align: center;
}

div#Team > p:nth-of-type(3) {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 100px;
  color: #999999;
}

div#Team > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#Team > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

div#work {
	margin-top: 30px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 120px;
}

.work1 {
	display: inline-block;
	margin: 0 auto;
	width: 20%;
}

.work1 > p:nth-of-type(2) {
	font-size: 15px;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 100;
  	margin-top: 15px;
}

div#labels {
	text-align: center;
	background: url('labelbg.png');
}

div#galery {
	padding-top: 100px;
	text-align: center;
	color: #333333;

}

div#galery > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#galery > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

div#galery > p:nth-of-type(3) {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 100px;
  color: #999999;
}


div#galeryPhotos {
	width: 1920px;
	height: 800px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 0;
}

div#galeryPhotos > div{
	font-size: 0;
	display: inline-block;
	width: 50%;
	height: 800px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div#galeryRight > img {
	display: inline-block;
	width: 480px;
	height: 400px;
	margin: 0;
	display: 0;
}

div#galeryLeft > div {
	display: inline-block;
	height: 800px;
}
div#ASD {
	max-width: 1950px;
	// width: 1903px;
	overflow: hidden;
}

/*Po pietu*/

div#poPietu {
	vertical-align: middle;
	text-align: center;
	height: 340px;
	padding-top: 100px;
}

div#poPietu > div {
	display: inline-block;
	vertical-align: middle;
}

img[src="poPietu1.png"] {
	display: inline-block;
	vertical-align: middle;
}

img[src="poPietu2.png"] {
	display: inline-block;
	vertical-align: middle;
}

img[src="poPietu3.png"] {
	display: inline-block;
	vertical-align: middle;
}

img[src="poPietu4.png"] {
	display: inline-block;
	vertical-align: middle;
}

p#poPietu1p {
  font-size: 24px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.5;
}

p#poPietu2p {
  font-size: 24px;
  font-family: 'Kaushan Script';
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

/*Po pietu*/

/*Po pietu2*/

div#poPietu2 {
	text-align: center;
	vertical-align: middle;
	background: url('poPietu2bg.png');
	background-repeat: no-repeat;
	padding-top: 110px;
}

div#poPietu2 > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#poPietu2 > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

.poPietuline{
	vertical-align: middle;
	width: 100%;
	padding-bottom: 70px;
	height: 200px;
}

.poPietuCell {
	display: inline-block;
	text-align: left;
	width: 25%;
}

.poPietuCell > div {
	display: inline-block;
	width: 50%;
}

.vienas {
  font-size: 14px;
  font-family: 'Montserrat';
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}

.du {

font-size: 15px;
  font-family: 'Roboto';
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.6;
}

.trys {
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  width: 375px;
}

/*Po pietu2*/

/*Po pietu3*/

div#poPietu3 {
	text-align: center;
	padding-top: 110px;
}

div#poPietu3 > p:nth-child(1){
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24pt;
	margin-bottom: 15px;
}

div#poPietu3 > p:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	margin-bottom: 40px;
}

img[src="15 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="14 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="12 jan.png"]{
	position: relative;
	right: 370px;
	bottom: 20px;
}

img[src="trys1.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

img[src="trys2.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

img[src="trys3.png"]{
	position: relative;
	left: 30px;
	margin-bottom: 20px;
}

.poPietu3cell {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.poPietu3cell > p:nth-of-type(1) {
  	font-size: 14px;
 	font-family: 'Montserrat';
  	color: rgb(51, 51, 51);
  	text-transform: uppercase;
  	line-height: 1.2;
  	position: relative;
	left: 30px;
	margin-bottom: 24px;
}

.poPietu3cell > p:nth-of-type(2) {
  	font-size: 15px;
  	font-family: 'Roboto';
  	color: rgb(153, 153, 153);
  	line-height: 1.6;
  	position: relative;
	left: 30px;
	margin-bottom: 24px;
}

img[src="Shape 5.png"] {
	position: relative;
	left: 30px;
}

.poPietu3cell2 {
	width: 444px;
	display: inline-block;
  	font-size: 15px;
  	font-family: 'Roboto';
  	color: rgb(153, 153, 153);
  	font-style: italic;
  	line-height: 1.6;
  	text-align: left;
  	position: relative;
	left: 30px;
}

.poPietu3cell2 > p {
	display: inline-block;
	padding-bottom: 115px;
}

/*Po pietu3*/

.asd {
	height: 200px;
	width: 100%;
	background: url('layer 59.png');
	position: relative;
	vertical-align: middle;
	text-align: center;
}

img[src="asdasd.png"] {
	width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

img[src="w1.png"]
{
	display: block;
	padding-bottom: 25px;

}
img[src="w2.png"]
{
	display: block;
	padding-bottom: 25px;
}
img[src="w3.png"]
{
	display: block;
}
